 <!--DM表示-->
<div class="wrap-message">
  <% @messages.each do |message| %>
    <%if message.user == current_user %>
      <div class="text-right">
        <div class="user_name">
          <%= message.user.name %>
        </div> 
        <div class="text">
          <h5><%= message.body %></h5>
        </div>
        <div class="metadata">
          <%= time_ago_in_words message.created_at %>
        </div>
        <div class="delete">
          <%= link_to "削除", message_path(message), method: :delete %>
        </div> 
      </div>  
    <% else %>
      <div class="text-left">        
        <div class="user_name">
          <%= message.user.name %>さん
        </div> 
        <div class="text">
          <h5><%= message.body %></h5>
        </div>
        <div class="metadata">
          <%= time_ago_in_words message.created_at %>
        </div>
      </div>  
    <% end %>
  <% end %>
</div>  