<!--物件一覧-->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center property">物件一覧</h2>
      <% if @properties.present? %>
        <% @properties.each do |property| %>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <%= link_to property_path(property.id) do %>
                <h2 class="property_name"><%= property.property_name %></h2>
              <% end %>
              <div class="post-image">
                <% if property.img? %>
                  <p><%= image_tag property.img.to_s, class: "index-image" %></p>   
                <% else %>
                  <%= image_tag attachment_url(@user, :profile_image, :fill, 300, 300, fallback: "no_image.jpg"), size:'300x300', class: "index_image" %>    
                <% end %>
              </div>  
            </div>  
          </div>    
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">  
              <table class="property_box table-bordered table-condensed col-sm-8 col-sm-offset-2"> 
                <tr>
                  <th class="property_table">物件名</th>
                  <td><%= property.prefecture.name %></td> 
                </tr>
                <tr>  
                  <th class="property_table">物件種別</th>
                  <td><%= property.genre.genre %></td>
                </tr>
                <tr>  
                  <th class="property_table">利用料(1日あたり)</th>
                  <td>¥<%= property.price %></td>
                </tr>
                <tr>  
                  <th class="property_table">面積</th>
                  <td><%= property.area.width %></td>
                </tr>
                <tr>  
                  <th class="property_table">投稿者</th>
                  <td><%= property.user.name %></td>
                </tr>
              </table>
              <div class="row">
                <div class="col-sm-2 col-sm-offset-8">
                  <%= link_to "詳細はこちら", property_path(property.id) %>
                </div> 
              </div>
            </div>
          </div>    
        <% end %> 
        <div class="text-center">
          <%= paginate(@properties) %>
        </div> 
      <% else %>
        <h3 class="text-center">まだ投稿された物件はありません</h3>
      <% end %>  
    </div>
  </div>    
</div>

       