<div class="container">
	<h2 class="text-center">物件検索</h2>	 
  <div class="row">
  	<div class="col-xs-12">
	    <div class="col-xs-8 col-xs-offset-4">   		  				
				<%= search_form_for @q, url: search_properties_path do |f| %>
					<table>
						<tr>
						  <td><%= f.label :property_name, "名称" %></td>
						  <td><%= f.search_field :property_name_cont %></td>
						</tr>
						<tr> 
						  <td><%= f.label :genre_id, "種別" %></td>
						  <td><%= f.collection_select :genre_id_eq, Genre.all, :id, :genre %></td>     
						</tr>
						<tr> 
						  <td><%= f.label :prefecture, "都道府県" %></td>		 
						  <td><%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name %></td>     
						</tr>
						<tr> 
						  <td><%= f.label :area, "専有面積" %></td>
						 	<td><%= f.collection_select :area_id_eq, Area.all, :id, :width %></td>   
						</tr>
						<tr> 
						 	<td><%= f.label :intruduction, "その他検索条件" %></td>
				  		<td><%= f.search_field :keywords_cont_all, placeholder: search_placeholder, required: false, label: t('helpers.keywords'), class: "introduction" %></td>
				 		</tr>			
					</table>	
					<p><%= f.submit "検索", class: "btn btn-primary" %></p>
				<% end %>				
			</div>
		</div>	
  </div>
</div>


					