<h2><%= @property.property_name %></h2>
<div class="post-meta-top">
  <div class="price">
    ¥<%= @property.price %>/日
  </div>
  <div class="post-image">
    <%= image_tag @property.img.to_s %>
  </div>
    </div>
    <div class="post-content">
      <ul class="meta-info-cells v4 float-wrapper">
        <h2 class="post-title"><%= @property.property_address %></h2>
        <li>
          <%= @property.genre.genre %> 
        </li>
        <li>
          <%= @property.area.width %> 
        </li>
        <li>
          <%= @property.intruduction %> 
        </li>
        <div>
          <%= link_to "ブックマーク登録", favorites_path(id: @property.id), method: :post %>
        </div>
          <!-- <i class="fa fa-heart"></i>
          <a href="#">202 いいね</a> -->
        
      </ul>
    </div>