<!--トップページ-->
<div class="container">
  <div class='row'>
    <div class="col-sm-12">
      <!--ギャラリーエリア-->
      <div class="row">
        <div class="col-sm-12">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide"><%= image_tag "theater1.jpg" %></div>
              <div class="swiper-slide"><%= image_tag "theater2.jpg" %></div>
              <div class="swiper-slide"><%= image_tag "theater3.jpg" %></div>
              <div class="swiper-slide"><%= image_tag "theater4.jpg" %></div>
            </div>
          <!-- If we need pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
          <!-- If we need navigation buttons -->
            <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-button-next swiper-button-white"></div>
        <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
          </div>
        </div>      
      </div>    

      <section>   
        <h2>Introduction</h2>
        <div class="intro">
          ドコアクトは日本全国の劇場や貸しスタジオを手軽に探すことのできるサイトです。
          借りるだけではなく、劇場やスタジオを所有しているユーザーは物件を投稿し、必要としている方へ貸し出すこともできます。
          気になる物件を見つけたら「物件詳細」ページからチャットで投稿者に連絡をしてみましょう。 
          まずは下の<span>都道府県一覧</span>から物件を検索してみましょう。 
        </div>
      </section>

      <%= render 'prefectures' %>

      <section>
        <header>
          <h2>Contact</h2>
        </header>
        <div class="contact">
          〒251-0032<br>
          神奈川県藤沢市片瀬5-4-11<br>
          TEL 080-6555-7966<br>
          e-Mail yunosukeyoshioka@gmail.com<br>
          ※本サイトでご不明点がありましたらご連絡ください。 
        </div>
      </section>
    </div>
  </div>
</div>  



