<div class="container">
  <div class='row'>
    <div class="col-xs-12">
      <!--ギャラリーエリア-->
      <div class="row">
        <div class="col-xs-12">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide"><%= image_tag "theater1.jpg" %></div>
              <div class="swiper-slide"><%= image_tag "theater2.jpg" %></div>
              <div class="swiper-slide"><%= image_tag "theater3.jpg" %></div>
              <div class="swiper-slide"><%= image_tag "theater4.jpg" %></div>
            </div>
          <!-- If we need pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
          <!-- If we need navigation buttons -->
            <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-button-next swiper-button-white"></div>
        <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
          </div>
        </div>      
      </div>    

      <section>
        <header>
          <h2>Introduction</h2>
        </header>
        <div class="intro">
          ドコアクトは日本全国の劇場や貸しスタジオを手軽に探すことのできるサイトです。
          借りるだけではなく、劇場やスタジオを所有しているユーザーは物件を投稿し、必要としている方へ貸し出すこともできます。
          気になる物件を見つけたら「物件詳細」ページからチャットで投稿者に連絡をしてみましょう。 
          まずは下の都道府県一覧から物件を探してみましょう。 
        </div>
      </section>
        
      <section class="prefectures">
        <% @prefectures.each do |prefecture| %>
            <div class="col-xs-2">
              <%= link_to properties_path(prefecture_id:prefecture.id), class: 'btn prefecture' do %> 
                <div class="row">
                  <h4><%= prefecture.name %></h4>
                </div>
              <% end %>  
            </div> 
          <% end %> 
      </section>
      
      <section>
        <header>
          <h2><span>Contact</span></h2>
        </header>
        <div class="intro">
          <ul class="co-xs-l2">
            <li>
              <p>〒251-0032<br>神奈川県藤沢市片瀬5-4-11</p>
              <p>TEL 080-6555-7966</p>
              <p>e-Mail yunosukeyoshioka@gmail.com</p>
              <p>※ご不明点がありましたらご連絡ください。</p>
            </li> 
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>  



