<!--チャット画面-->
  <h2 class="title">チャットルーム参加者</h2>
  <div class="container">
    <div class="chat-area">
      <div class="content">
        <% @room_users.each do |r| %>
          <strong><%= r.user.name %>さん</strong>
        <% end %>
      </div>
      <!--会話の一覧-->
      <%= render 'messages/messages' %>
    </div>
    <div class="message-area">
      <div class="message-area-text">
        <!--remote: trueを追加-->
        <%= form_with model: @message do |form| %>
          <%= form.hidden_field :room_id, :value => @room.id %>
          <div class="field">
            <%= form.text_area :body, rows: 5, placeholder: 'コメントを入力してください' %>
          </div>
          <div class="message-area-button">
            <%= form.submit '送信', class: "message-area-button " %>
          </div>
        <% end %>
      </div>
    </div>  
  </div>

