<h2>チャットルーム参加者</h2>
<div>
  <% @room_users.each do |r| %>
    <h5><strong><%= r.user.name %>さん</a></strong></h5>
  <% end %>
<!--メッセージの送信-->
  <%= form_with(model: @message) do |form| %>
    <%= form.hidden_field :room_id, :value => @room.id %>
    <div class="field">
      <%= form.text_area :body, rows: 5, placeholder: 'コメントを入力してください' %>
    </div>
    <div class="actions">
      <%= form.submit '送信' %>
    </div>
  <% end %>

<!--メッセージの表示--> 
  <div class="content">
    <% @messages.each do |message| %>
      <div class="user_name">
        <%= message.user.name %>さん
      </div>  
      <div class="text">
        <%= message.body %>
      </div>
       <div class="metadata">
        <%= time_ago_in_words message.created_at %>
      </div>
     <% if message.user_id == current_user.id %>
        <%= link_to "削除", message_path(message), method: :delete %>
     <% end %>   
    <% end %>
  </div>
</div>










