<!--メッセージの送信-->
<div class="fourteen wide ten wide tablet seven wide computer column">
  <h1><メッセージ</h1>

  <%= form_with(model: @message) do |form| %>

  <%= form.hidden_field :room_id, :value => @room.id %>
  
    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body, rows: 5, placeholder: 'コメントを入力してください' %>
    </div>
    <div class="actions">
      <%= form.submit '送信' %>
    </div>
  <% end %>
<!--メッセージの表示--> 
  <div class="content">
    <% @messages.each do |message| %>
      <div class="metadata">
        <span class="date"><%= time_ago_in_words message.created_at %></span>
      </div>
      <div class="text">
        <%= message.body %>
      </div>
    <% end %>
  </div>
</div>










