<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Dokoact</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </head>

  <body id="top　container">
    <div class="row">
      <div class="col-md-12">
        <header id="header">
         
          <nav id="mainnav">      
            <h3><%= link_to image_tag('logo.png'), root_path %></h3>
            <% if user_signed_in? %>
              <ul class="top-menu">
                <li>
                  <%= link_to 'マイページ', user_path(current_user.id), class:"btn btn-light" %>
                </li>
                <li>
                  <%= link_to '物件検索', search_properties_path, class:"btn btn-light" %>
                </li>
                <li>
                  <%= link_to 'ブックマーク', favorites_path, class:"btn btn-light" %>
                </li>
                <li>
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"btn btn-light" %>
                </li>
              </ul> 
            <% else %>
              <ul>
                <li>
                  <%= link_to 'About', abouts_path, class:"btn btn-light" %>
                </li>
                <li>
                  <%= link_to '物件検索', search_properties_path, class:"btn btn-light" %>
                </li>
                <li>
                  <%= link_to '新規登録', new_user_registration_path, class:"btn btn-light" %>
                </li>
                <li>
                  <%= link_to 'ログイン', new_user_session_path, class:"btn btn-light" %>
                </li>
              </ul>
            <% end %> 
          </nav> 
        </header>
        
        <%= yield %>
        
        <footer id="footer">
          Copyright(c) 2020 Dokoact Inc. All Rights Reserved.
        </footer>
      </div>
    </div>    
  </body>
</html>
